body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(158, 158, 220);
  }
  
  .container {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    background-color: rgb(163, 232, 232);
  }
  
  button {
      font-weight: 600;
      transition:ease;
      padding: 1rem;
      width: 8rem;
      border-radius: 2rem;
      background-color: antiquewhite;
    }
  
  